<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.demo1.model.mapper.TestTableMapper">
 
    <select id="SelectAllList" parameterType="String" resultType="hashmap">
       	SELECT * FROM dept
       	<where>
			<if test='dName != null and dName != ""'>
				dname like '%'||UPPER(#{dName})||'%'
			</if>
		</where>
    </select>

	<select id="getDepts" parameterType="String" resultType="com.example.demo1.vo.TestTableVo">
		SELECT * FROM dept getDeptByDeptNo
	</select>

	<select id="getDeptByDeptNo" parameterType="String" resultType="com.example.demo1.vo.TestTableVo">
		SELECT * FROM dept
		where deptNo = #{deptNo}
	</select>

	<insert id="write" parameterType="com.example.demo1.vo.TestTableVo">
		insert into dept
		(deptno, dname, loc)
		values
		((SELECT NVL(MAX(deptno), 0) + 1 FROM dept), #{dName}, #{loc})
	</insert>

	<update id="update" parameterType="com.example.demo1.vo.TestTableVo">
		update dept
		set dname = #{dName},
			loc = #{loc}
		where deptno = #{deptNo}
	</update>
 
</mapper>
